<h1>New Timeframe</h1>

<p class="alert alert-danger">
<strong>Warning</strong><br/>
Timeframe is not able to be changed after assigned!
</p>

<%= render 'form', timeframe: @timeframe %>

<%= link_to 'Back', timeframes_path %>
