<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li><a href="/app/dashboard">Dashboard</a></li>
      <li>Registration</li>
    </ul>
  </div>
  <div class="row">
    <h2>Edit User</h2>

    <%= render 'form' %>

    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>

<!--Page specific script-->
<script src="/dist/dashboard-webpack.js"></script>

