// SCSS File for the application.

@import "declarations";
@import "button";
@import "icon";
@import "layouts";
@import "list_group";
@import "modal";
@import "input";
@import "font";
@import "dropdown";
@import "tree_view";
@import "graph";
@import "accordion";
@import "overlay";
@import 'timeline';

.user-menu {
  word-wrap: break-word;
  font-family: ProximaNovaSoft;
}
.details-layout{
  word-break: keep-all;
  font-family: ProximaNovaSoft;
}

.sidebar-menu > ul > li {
  .icon-thumbnail {
    font-family: ProximaNovaSoft;
  }
}
.sidebar-menu > ul > li:hover, li:active, li:focus {
  .icon-thumbnail {
    background: $dark-blue;
    font-family: ProximaNovaSoft;
  }
}

.okr-details-header-info {
  margin-right: 40px;
  color: $info-grey;
}

.panel-title-custom {
  width: 100%;

  .panel-heading-a {
    width: 90%;
  }
}

.company-logo {
  background: $normal-blue; 
  padding: 10px; 
  width: 120px;
  .logo-definition {
    width: 100px; 
    height: 100px;
  }
}



