// SCSS File for the application.

@import "declarations";
@import "button";
@import "icon";
@import "layouts";
@import "list_group";
@import "modal";
@import "input";
@import "font";
@import "dropdown";
@import "tree_view";
@import "graph";
@import "accordion";

.user-menu {
  word-wrap: break-word;
}
.details-layout{
    word-break: keep-all;
}

.sidebar-menu > ul > li:hover, li:active, li:focus {
  .icon-thumbnail {
    background: $dark-blue;
  }
}

.okr-details-header-info {
  margin-right: 40px;

  .label-font {
    font-size: 16px;
    margin-left: 10px;
  }
}

.panel-title-custom {
  width: 100%;

  .panel-heading-a {
    width: 90%;
  }
}



