// SCSS File for declaration purpose.

// ---------------------
//     Color Scheme
// ---------------------

$native-white       : #ffffff;
$pale-grey          : #eeeeee;
$normal-grey        : #c7c7c7;
$light-grey         : #b3b3b3;
$dark-grey-border   : rgba(230, 230, 230, 0.7);
$darker-grey        : #6b6b6b;

$lighter-blue       : #daeffd;
$light-blue         : #6dc0f9;
$normal-blue        : #48b0f7;
$dark-blue          : #3a8fc8;
$darker-blue        : #2b6a94;

// ---------------------
//     Font Family
// ---------------------

$montserrat         : 'Montserrat';

// ---------------------
//      Font Size
// ---------------------

$font-12            : 12px;
$font-18            : 18px;

// ---------------------
//      Font Weight
// ---------------------

$font-weight-600    : 600;