// SCSS File for dropdown control.

@import 'declarations';

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: $dark-blue;
}

.profile-menu-dropdown {
  top: 102%;
}

.form-caret-dropdown {
  position: absolute; 
  right: 19px;
}