// SCSS File for font controls.

@import 'declarations';

@font-face {
  font-family: 'ProximaNovaSoft';
  src:font-url('/assets/plugins/fonts/proxima-nova-soft/proxima-nova-soft.woff2') format('woff2'),
      font-url('/assets/plugins/fonts/proxima-nova-soft/proxima-nova-soft.woff') format('woff'),
      font-url('/assets/plugins/fonts/proxima-nova-soft/proxima-nova-soft.ttf') format('truetype');
}
.proxima-nova-soft-font {
  font-family: ProximaNovaSoft;
}

@font-face {
  font-family: 'OpenSans';
  src:font-url('/assets/plugins/fonts/open-sans/opensans-regular.ttf') format('truetype');
}

// Login Page
.login-brand {
  font-family: OpenSans;
  font-size: 36px;
  color: $normal-blue;
}
.login-subtitle {
  font-size: 15px;
  font-family: OpenSans;
}
.support-link {
  color: $darker-black;
  font-size: 13px;
  font-family: OpenSans;
}
.login-image-title {
  font-family: OpenSans;
  font-size: 30px;
}
.login-image-subtitle {
  font-family: OpenSans;
  font-size: 18px;
}

// Default Layout Page
.brand-sidebar {
  color: $native-white;
  background: transparent;
  font-size: 18px;
  font-family: OpenSans;
}
.brand-header {
  color: $normal-blue;
  font-family: OpenSans;
  font-size: 30px;
  margin-left: 24px;
}

// Default Layout Header
.user-name {
  font-family: OpenSans;
  font-size: 16px;
  color: $lighter-black;
}
.day-left {
  font-family: OpenSans;
  font-size: 16px;
  color: $header-grey-light;
  &.number {
    font-weight: 600;
    color: $header-grey-dark;
  }
}
.notifications-font {
  font-family: OpenSans;
}

// Dashboard styling
.dashboard-title {
  font-family: OpenSans;
  font-size: 22px;
  font-weight: 600;
  color: $darker-black;
}

// OKR accordion
.accordion-header-title {
  color: $linked-kr-grey;
  font-size: 14px;
  font-weight: 600;
  word-break: keep-all;
  padding: 0px;
  margin: 0px;
}
.accordion-obj-title {
  margin: 0px;
  padding: 0px;
  font-size: 19px;
  font-weight: 600;
}
.accordion-obj-subtitle {
  font-size: 17px;
  font-weight: 600;
}
.key-result {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 500;
  color: $darker-black;
}

// Overlay text related styling
.overlay-title {
  font-size: 22px;
  font-weight: 600;
  color: $normal-blue;
  font-family: OpenSans;

  &.overlay-title-md {
    font-size: 20px;
    font-weight: 500;
  }
}
.overlay-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: $dark-black;
  font-family: OpenSans;

  &.progress-update {
    color: $lighter-black;
  }
}

.objective {
  color: $normal-blue;
}
.completed-key-result {
  color: $dark-blue;
}

// OKR Details Page
.details-page {
  font-family: OpenSans;
  color: $darker-black;

  &.title {
    font-size: 26px;
    font-weight: bold;
  }
  &.subtitle {
    font-size: 22px;
  }
  &.info-display {
    font-size: 16px;
    color: $info-grey;
    font-weight: 600;
    margin-left: 10px;
  }
}

.tree-progress {
  position: relative;
  font-size: 12px;
  color: $normal-green;
  font-weight: bold;
  text-align: right;
}

.okr-details-header-info {
  margin-right: 40px;
  color: $info-grey;
}

