// SCSS File for graphs in d3js.

@import 'declarations';

.graph-background {
  background: $native-white;
  border: 1px solid $dark-grey-border;
}

path { 
  stroke: $normal-blue;
  stroke-width: 2;
  fill: $lighter-blue;
}

.area {
  fill: $lighter-blue;
}

.dot {
  fill: $normal-blue;
}

.axis path,
.axis line {
  fill: none;
  stroke: $graph-axis-grey;
  stroke-width: 1.5;
}

text {
  font-size: $font-12;
  font-weight: 600;
  fill: $darker-grey;
}

.label-graph {
  font-family: ProximaNovaSoft;
  font-size: 12px;
  font-weight: 600;
  color: $graph-grey;
}