// SCSS File for list group related controls.

@import 'declarations';

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
  background: none;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
  background: none;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 0px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.search-result {
  list-style-type: none;

  li > a {
    color: $placeholder-grey;
    .search-title {
      font-family: OpenSans;
      font-size: 16px;
      font-weight: 600;
    }
    .search-subtitle {
      font-family: OpenSans;
      font-size: 14px;
    }
    .search-shortform {
      color: $native-white; 
      font-weight: 600; 
      font-size: 20px;
    }
  }
}