<div class="container">
    <div class="row">
        <ul class="breadcrumb">
          <li><a href="/app/dashboard">Dashboard</a></li>
          <li>Company OKR</li>
        </ul>
    </div>
    <div class="row">
        <h2>Company Objective</h2>

        <p id="notice"><%= notice %></p>

        
    </div>
</div>


<!--Page specific script-->



