<div class="login-wrapper">
  <div class="bg-pic">
    <img src="/app_cover.jpg" data-src="/app_cover.jpg" data-src-retina="/app_cover.jpg" alt="" class="session-img" />
    <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
      <h2 class="semi-bold text-white login-image-title">
			  Pikto Retreat 2016 - Langkawi
      </h2>
      <p class="small login-image-subtitle">
        Weygen & Flavian
      </p>
    </div>
  </div>
  <!-- Login Background -->
  <div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
      <h2 class="login-brand">Pikto<span class="bold">OKR</span></h2>
      <p class="p-t-10 p-b-10 login-subtitle"><span class="bold">Sign In</span> using your Piktochart account</p>
      <%= link_to "<span class='fa fa-google m-r-10'></span> Sign in with Google".html_safe, user_google_oauth2_omniauth_authorize_path, class: "btn btn-danger btn-cons btn-rounded m-t-10 login-button p-l-20 p-r-20" %>
    </div>
  </div>
</div>



