<div class="container">
    <h1>Dashboard</h1>
    <div id="adminRegister" class="row" style="display:none;">
        <a href="/users/new">New user registrations</a><br/>
        <a href="/users">View registered users</a><br/>
        <a href="/okr_teams">PiktoOKR Team Management Module</a><br/>
    </div>
</div>

<!--Page specific script-->
<script src="/dist/dashboard-webpack.js"></script>

