<div class="container">
    <div class="row">
        <ul class="breadcrumb">
          <li><a href="/app/dashboard">Dashboard</a></li>
          <li>View Team</li>
        </ul>
    </div>
    <div class="row">
        <h2>View Team</h2>

        <p id="notice"><%= notice %></p>

        <%= link_to 'Edit', edit_okr_team_path(@okr_team) %> |
        <%= link_to 'Back', okr_teams_path %>

    </div>
</div>

<!--Page specific script-->
