// Stylesheets customized for the application

// ---------------------
//      Declaration
// ---------------------
$light-grey : #eeeeee;
$dark-grey : #c7c7c7;

$icon-light-grey : #b3b3b3;

// ---------------------
//        Layout
// ---------------------
.centralize {
    position: relative;
    top: 20%;
    transform: translateY(30%);
}
.padding-body {
    padding-top: 10px;
}
.padding-accordion-group {
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.panel-title-custom {
    width: 100%;
}
.panel-heading-a {
    width: 90%;
}
.user-menu {
    word-wrap: break-word;
}
.modal-background {
    background: #ffffff;
}
.okr-details-header-info {
    margin-right: 40px;
    .label-font {
        font-size: 16px;
        margin-left: 10px;
    }
}

// ---------------------
//         Font
// ---------------------
.accordion-item-title{
    font-family: 'Montserrat';
    display: inline-block;
    letter-spacing: 0.02em;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-stroke: 0px;
    filter: alpha(opacity=40);
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
// Font layout
.details-layout{
    word-break: keep-all;
}

// ---------------------
//     Form Controls
// ---------------------
.form-custom-accordion {
    border: 1px solid rgba(230, 230, 230, 0.7);
}

// ---------------------
//       Controls
// ---------------------
// Accordion
.accordion-item {
    border: 1px solid rgba(230, 230, 230, 0.7);
    padding-left: 0px;
    min-height: 48px; 
    width: 100%;
    padding-top: 5px;
    background: $light-grey;
}
.accordion-item:hover, .accordion-item:active, .accordion-item:focus, .accordion-item:visited {
    background: $dark-grey;
}
.add-new-personal-key-result {
    background: transparent;
}
.add-new-personal-key-result:hover, .add-new-personal-key-result:active {
    background: transparent;
}
.add-new-team-key-result {
    background: transparent;
}
.add-new-team-key-result:hover, .add-new-team-key-result:active {
    background: transparent;
}
.add-new-company-key-result {
    background: transparent;
}
.add-new-company-key-result:hover, .add-new-company-key-result:active {
    background: transparent;
}
.item-content {
    padding-left: 0px;
}
.no-objective-presence {
    margin-left: 20px;
}
// Button
.btn-accordion {
    outline: none;
    border: 0px;
    background: transparent;
}
.btn-accordion:hover, .btn-accordion:active, .btn-accordion:focus {
    border: 0px;
    background: none;
    background: transparent;
}
// Icon
.icon-light-grey {
    color: $icon-light-grey;
}
// input
.header .search-link .custom-search {
    border: 0;
    width: 200px;
    font-size: 16px;
}
.form-group-default .textarea-custom {
    height: 100px;
}
.form-new-key-result {
    border: none;
}
.form-new-key-result:focus {
    background: transparent;
}

// -----------------------
//       List Group 
// -----------------------
.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
  background: none;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
  background: none;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 0px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}