<!DOCTYPE html>
<html>
  <head>
    <title>PiktoOKR</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://www.promisejs.org/polyfills/promise-done-7.0.4.min.js"></script>
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">
                      PiktoOKR
                  </a>
                </div>
                <div id="userUtility" style="display:none;">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                          User
                          <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="/users/sign_out" class="btn btn-default"> 
                                Sign out
                              </a>
                          </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                      <a id="userRole">
                        Role
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
        </nav>
      </div>
    </header>

    <div class="container">
      <div class="center_div">
        <%= yield %>
      </div>
    </div>
    
    <footer>
      <div class="container">
          <div class="row">
              <p class="text-muted small">Copyright @ Piktochart Web Academy 2016. All Rights Reserved.</p>
          </div>
      </div>
    </footer>
  </body>
</html>
